<html>
<head>
	<link rel="stylesheet" href="SignIn.css">
</head>
<body>
<div class="split left">
	<div>
		<div class="ellipse"></div>
		<div>
			<h1 class="meraki">Meraki</h1>
		</div>
	</div>
  <div class="centered">
    <h1 class="signin">Sign In</h1>
  </div>
	<div>
		<div class="line"></div>
	</div>
</div>
<div class="split right">
	<div class="onTheLine dot">
	<img class="arrow" src="614-6140554_transparent-chevron-arrow-png-full-white-right-arrow.png" background-colour="#F5564E"></img>
	</div> 
	<div>
		<rect width="521px" height="581px" class="centered"></rect>
	</div>
</div>
</body>
</html>

